html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#__next {
  height: 100%;
}

:root {
  --header-height: 50px;
  --app-content-height: calc(100% - var(--header-height));
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.text {
    font-family: 'Righteous', cursive;
    color: #13141c;
}


.hero-header {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
}

.hero-paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    margin-top: 48px;
}
